@font-face {
    font-family: 'OpenSans'; 
    src: url('../Me/assets/OpenSans.ttf') format('truetype'); 
} 

@font-face {
    font-family: 'OpenSans'; 
    src: url('assets/OpenSans.ttf') format('truetype'); 
} 

@media only screen and (max-width: 600px) {
    body {
        font-size: 0.8em;
    }
}

#home{
    height:100vh;
}

body {
    font-family: 'OpenSans', sans-serif;
    /* margin: 20px; */
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 40vh; 
}
header p {
    margin: 0;
    /* font-size: 1.2rem; */
    font-weight: 300;
    font-style: italic
}


  
#profilepic {
    max-width: 9em;
    border-radius: 50%; 
    margin-right: 20px; 
}

h1 {
    color: black;
    font-weight: 300;
    margin-top: 0;
    font-size: 2em;
}

h2 {
    color: black;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    /* border: 1px solid black; */
    margin: 0 5px;
    background-color: #f2f2f2;
    border-radius: 0.5em;
}

h3 {
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 1.6em;
}

h4 {
    margin-top: 2.5em;
}

p {
    color: black;
    font-size: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

section {
    border-left: 1px solid black;
    padding-left: 1em;
    margin-top: 7em;
    margin-left: 1em;
    padding-right: 1em;
}

.skill {
    display: inline-block;
    color: white;
    background-color: blue;
    border-radius: 100rem;
    padding: 5px 10px;
    margin-right: 0.1em;
    margin-bottom: 0.3em;
}

img {
    max-width: 100%;
}

video {
    width: 100%;
    height: auto;
    object-fit: fill;
}

a {
    color: #0077cc;
    text-decoration: none; 
    transition: color 0.3s ease; 
}
  
a:hover {
    text-decoration: underline; 
    color: #004466;
}

#navtop {
    display: flex;
    justify-content: space-evenly;
}
#navtop > * {
    flex: 1; 
    text-align: center;
    padding: 0.5em;
    margin: 0 5px;
    background-color: #f2f2f2;
    border-radius: 0.5em;
    align-items: center;

	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
}

#navtop > *:hover {
    background-color: #e6e6e6;
    text-decoration: none; 
}